$color: #ff261a;
$bor:1px solid #e6e6e6;
$bodyBg:#f2f2f2;
$inputbg:#1f1e1e;
$bor-col:#ECECEC;
$input: #c1c1c1;
$txcol:#999;
$radius: 5px;
$yel:#b49f7a;
$blue:#496BFF;
$orange: rgba(184, 26, 4, 0.1);
$green:#00B92A;
$red:#be312e;
$font-col: rgba(91, 87, 83, 1);

$grey:#414141;